/*Variables*/

$color-dark: #000000;
$color-light: #ffffff;
$color-button:#17DAA3;
$color-text: #87949E;
$color-title: #576671;

$font-map: 'Signika', sans-serif;
$font-text: 'Raleway', sans-serif;


/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0px;    
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-family: $font-text;
    text-align: center;
    background-color: $color-light;
    color: $color-text;
}

.container {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 48px;
    font-weight: 200; 
    line-height: 1;
    margin: 0 auto;
    padding: 10px 0px 44px 0px;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: 34px;
    left: 50%;
    width: 50px;
    height: 1px;
    transform: translateX(-50%);
    background: $color-button;
}

.section-subtitle {
    font-size: 12px;
    font-weight: 400;
    color: $color-text;
    margin: 0 auto;
    padding: 44px 0px 80px 0px;
}

h3 {
    font-size: 22px;
}

section {
    padding: 110px 0px 96px 0px;
}

.row {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 183px;
    max-width: 183px;
    max-height: 46px;
    margin: auto;
    border-radius: 30px;
    font-family: $font-text;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $color-button;
    background-color: $color-button;
    color: $color-light;
}

/*Splash*/
.splash {
    font-family: $font-text;
    min-height: 1067px;
    max-width: 2000px;
    display: flex;
    .splash-inner {
        margin: auto;    
        max-width: 100%;
        position: relative;
        display: flex;
        .menu {
            position: absolute;
            min-width: 75%;
            padding-top: 55px;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            display: flex;
            img {
                flex: auto;
                max-height: 27px;
                padding-right: 200px;
            }
            ul {
                padding: 5px;
                padding-left: 200px;
                margin: 0;
                list-style-type: none;
                flex: auto;
                text-align: right;
                li {
                    display: inline-block;
                    margin-right: 36px;
                    position: relative;
                    a {
                        text-decoration: none;
                        color: $color-light;
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
            }
        }
        .splash-text {
            max-width: inherit;
            flex-direction: column;
            position: absolute;
            right: auto;
            bottom: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .page-title {
                font-size: 46px;
                line-height: 1;
                font-weight: bold;
                margin: 0;
                color: $color-light;
                padding: 10px 0;
            }
            span {
                font-weight: 100;
            }
            .page-subtitle {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                color: $color-light;
                padding-top: 10px;
                padding-bottom: 64px;
            }
            .btn {
                border-color: #ffffff;
                color: #ffffff;
                background-color: transparent;
            }
        }
    }
}

/*About*/

.about {
    .container {
        .box {
            width: 343px;
            padding: 0px 32px 105px 32px;
            i {
                font-size: 65px;
                background: #EDEFF1;
                width: 185px;
                height: 185px;
                line-height: 185px;
                color: $color-title;
                border-radius: 50%;
            }
            i:hover {
                background-color: $color-button;
                color: $color-light;
                cursor: pointer;
            }
            p:first-of-type {
                color: $color-dark;
                font-size: 22px;
            }
            p {
                font-size: 12px;
            }
        }
    }
}

/*Photo&Mac*/
.photo {
    background-color: #f5f5fa;
    .container {
        flex-direction: row;
        .box {
            flex: 1;
            flex-wrap: wrap;
            padding: 0px 150px 0px 0px;
            text-align: left;
            justify-content: left;
            .btn {
                margin: 75px auto 0px 0px;
            }
        }
    }
}

.mac {
    .container {
        flex-direction: row;
        .box {
            flex: 1;
            flex-wrap: wrap;
            padding: 0px 0px 0px 150px;
            text-align: left;
            .btn {
                margin: 75px auto 0px 0px;
            }
        }
    }
}